blinker==1.8.2
cachelib==0.13.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
distlib==0.3.8
dnspython==2.7.0
filelock==3.14.0
Flask==2.3.0
flask-cors==5.0.1
Flask-Excel==0.0.7
Flask-MySQL==1.5.2
Flask-MySQLdb==2.0.0
Flask-Session==0.8.0
gTTS==2.5.1
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.4
lml==0.1.0
MarkupSafe==2.1.5
msgspec==0.19.0
mysql==0.0.3
mysql-connector-python==9.2.0
mysqlclient==2.2.7
numpy==1.26.4
pandas==2.2.2
platformdirs==4.2.2
playsound==1.2.2
PyAudio==0.2.14
pyexcel==0.7.1
pyexcel-io==0.6.7
pyexcel-webio==0.1.4
pymongo==4.11.2
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
repoze.lru==0.7
requests==2.32.3
Routes==2.5.1
six==1.16.0
SpeechRecognition==3.10.4
texttable==1.7.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.2
Werkzeug==3.0.3
